@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* Fix box sizeing */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #1f2d3d;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
}

header {
  display: grid;
  grid-template-areas: "title title title title title hot new top";
  border-bottom: 5px solid #343f4b;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

/* Navigation title */

h1 {
  color: white;
}

.head_title > h1 > span:hover {
  color: #f95f62;
}

.pointer {
  cursor: pointer;
}

.head_title {
  grid-area: title;
  margin-left: 35px;
}

/* Navigation buttons */

.head_btn {
  border: 3px solid #343f4b;
  border-radius: 100px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

.head_btn:hover {
  border: 3px solid #f95f62;
  border-radius: 100px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}

.active {
  border: 3px solid #f95f62;
}

/* Nav buttons areas */

.hot {
  grid-area: hot;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.new {
  grid-area: new;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grid item grid */

.grid-item {
  display: grid;
  border-bottom: 1px solid #343f4b;
  color: white;
  grid-template-areas:
    "counter picture item-title"
    "counter picture submited"
    "counter picture comments";
  grid-template-columns: 1fr 1fr 9fr;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin-bottom: 5px;
}

.grid-item:hover {
  background-color: #343f4b;
}

/* Grid items elements */

.counter {
  grid-area: counter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  grid-area: picture;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-title {
  grid-area: item-title;
  margin-left: 15px;
}

.item-title > h3 {
  margin-top: 7px;
  margin-bottom: 5px;
}

.item-title > h3 > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.item-title > h3 > a:hover {
  color: #f95f62;
}

.submited {
  grid-area: submited;
  margin-left: 15px;
}

.comments {
  grid-area: comments;
  margin-left: 15px;
}

.img-fix {
  width: auto;
  height: 90px;
}

.comments-badge {
  font-size: 12px;
  color: #f95f62;
  cursor: pointer
}

.submited > a {
  text-decoration: none;
  cursor: pointer;
  color: #f95f62;
}

/* CSS helpers */

.mr {
  margin-right: 5px;
}

.ml {
  margin-left: 5px;
}

/* Spinner thanks to @tobiasahlin for great spinner */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}